<ion-content id="screen" [fullscreen]="true">
  <ion-grid>
    <ion-row class="logo">
      <ion-col>
        <!-- <ion-img class="new" src="assets/images/logo.png"></ion-img> -->
        <img src="assets/images/logo.png" alt="">
        <ion-label
          ><p class="ion-text-left logoLabel">Enjoy The trip</p>
          <p class="ion-text-left">with me</p>
        </ion-label>
      </ion-col>
    </ion-row>
     
    <div class="authButton ion-margin-horizontal ion-padding-horizontal">
      <ion-button size="large" expand="block" shape="round" color="" routerLink="/welcome/sign-up"><ion-text color="light">Sign Up</ion-text></ion-button>
      <ion-button size="large"  expand="block" shape="round" color="light" routerLink="/welcome/sign-in"><ion-text color="primary">Sign In</ion-text></ion-button>
    </div>
  </ion-grid>
</ion-content>

